* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
}
/* ================================= */

main {
  width: 1240px;
  margin: 0 auto;
}
.card {
  margin: 200px;
  width: 400px;
  border: 1px solid rgb(231, 221, 221);
  border-radius: 10px;
  background-color: blueviolet;
}
.card__details {
  padding: 20px;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 45px 45px 0 0;
}

.card .heading {
  text-align: center;
}
.card .heading h1 {
  font-size: 36px;
  color: blueviolet;
}
.card .heading p {
  color: rgb(125, 121, 121);
  padding: 20px 0;
}
.card img {
  width: 100%;
  border-radius: 10px;
}

.card .image {
  position: relative;
}
.card .image .overlay {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.6s;
}
.card .image:hover .overlay {
  transform: scale(0.9);
}
.card .overlay .icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 30px;
  height: 100%;
}
.card .overlay .icon i {
  width: 50px;
  height: 50px;
  background-color: rgb(251, 251, 251);
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 25px;
  border: 1px solid #fff;
  transition: 0.6s;
}
.card .overlay .icon i:hover {
  background: transparent;
  color: #ffffff;
}

.card .price__ratings {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.card .price__ratings .fa-solid {
  color: rgb(209, 166, 56);
}

.card .product__counter {
  display: flex;
  justify-content: end;
  column-gap: 15px;
  align-items: center;
}
.card .product__counter button {
  padding: 2px 8px;
  font-size: 20px;
  font-weight: 600;
}

.card .size {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.card .size p span {
  color: lightslategray;
  margin-right: 5px;
}

.card .colors {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.card .colors p .fa-circle-check {
  font-size: 20px;
  margin-right: 5px;
}
.card .colors p .red {
  color: red;
}
.card .colors p .blue {
  color: blue;
}

.card .cart__btn {
  text-align: center;
}
.card .cart__btn a {
  color: black;
  padding: 15px;
  background-color: rgb(239, 180, 19);
  border-radius: 0 0 5px 5px;
  width: 100%;
  transition: 0.4s;
  font-weight: 600;
}
.card .cart__btn a:hover {
  color: #ffffff;
  background-color: rgb(136, 25, 164);
}
